trunk/DGWSMortalitySTS/Web References/Mortality/MortalityRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s7="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:s2="http://rep.oio.dk/cpr.dk/xml/schemas/2007/01/02/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s5="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" xmlns:s8="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" xmlns:s0="http://sst.dk/Mortality/xml.schema/2008.04.03" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s3="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://rep.oio.dk/sst.dk/xml.wsdl/2008.10.10/" xmlns:s6="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" xmlns:s1="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s4="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://rep.oio.dk/sst.dk/xml.wsdl/2008.10.10/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sst.dk/Mortality/xml.schema/2008.04.03">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/2007/01/02/" />
      <s:import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" />
      <s:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:element name="MortalityReason" type="s0:MortalityReasonType" />
      <s:complexType name="MortalityReasonType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SchemaID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonIdentifier" type="s0:PersonIdentifierType" />
          <s:element minOccurs="0" maxOccurs="1" name="Part1And2" type="s0:Part1And2Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonIdentifierType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="NoPersonCivilRegistrationIdentifier" type="s0:NoPersonCivilRegistrationIdentifierType" />
            <s:element minOccurs="0" maxOccurs="1" ref="s7:PersonCivilRegistrationIdentifier" />
          </s:choice>
        </s:sequence>
        <s:attribute name="id" type="s:string" />
      </s:complexType>
      <s:complexType name="NoPersonCivilRegistrationIdentifierType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" ref="s1:PersonGenderCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s2:PersonCivilRegistrationReplacementIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:PersonNameStructure" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:AddressPostal" />
          <s:element minOccurs="1" maxOccurs="1" ref="s6:BirthDate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part1And2Type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DoctorFunction" type="s0:DoctorFunctionType" />
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="Part1" type="s0:Part1Type" />
            <s:element minOccurs="0" maxOccurs="1" name="Part2" type="s0:Part2Type" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DoctorFunctionType">
        <s:restriction base="s:string">
          <s:enumeration value="PersonalGP" />
          <s:enumeration value="EmergencyGP" />
          <s:enumeration value="HospitalDoctor" />
          <s:enumeration value="Medicalofficer" />
          <s:enumeration value="HospiceDoctor" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Part1Type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="HealthInsuranceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BornDead" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BornDeadData" type="s0:BornDeadDataType" />
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="FindingTime" type="s0:FindingTimeType" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeOfDeath" type="s0:TimeOfDeathType" />
          </s:choice>
          <s:element minOccurs="1" maxOccurs="1" name="SignOfDeath" type="s0:SignOfDeathType" />
          <s:element minOccurs="1" maxOccurs="1" name="InquestDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PoliceContact" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Implants" type="s0:ImplantsType" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternativeDoctor" type="s0:AlternativeDoctorType" />
          <s:element minOccurs="0" maxOccurs="1" name="PoliceStationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Page2WillFollow" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BornDeadDataType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Birthdate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" ref="s1:PersonGenderCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FindingTimeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DateTimeOrDate" type="s0:DateTimeOrDateType" />
          <s:element minOccurs="0" maxOccurs="1" name="DeathSite" type="s0:DeathSiteType" />
          <s:element minOccurs="0" maxOccurs="1" name="FindingSite" type="s0:FindingSiteType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeOrDateType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:date" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeathSiteType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="HospitalIdentifier" type="s0:HospitalIdentifierType" />
            <s:element minOccurs="0" maxOccurs="1" name="OtherPlaceOfDeath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KnownAddress" type="s5:AddressPostalType" />
            <s:element minOccurs="1" maxOccurs="1" name="Residence" type="s0:ResidenceType" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="HospitalIdentifierType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HospitalClasifikation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HospitalDepartment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResidenceType">
        <s:restriction base="s:string">
          <s:enumeration value="Home" />
          <s:enumeration value="NurseryHome" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FindingSiteType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="FindingOtherPlaceOfDeath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FindingResidence" type="s0:ResidenceType" />
            <s:element minOccurs="0" maxOccurs="1" name="FindingKnownAddress" type="s5:AddressPostalType" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeOfDeathType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DateTimeOrDate" type="s0:DateTimeOrDateType" />
          <s:element minOccurs="0" maxOccurs="1" name="DeathSite" type="s0:DeathSiteType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SignOfDeathType">
        <s:restriction base="s:string">
          <s:enumeration value="Rigor" />
          <s:enumeration value="Livores" />
          <s:enumeration value="LivoresAndRigor" />
          <s:enumeration value="Cadaverositas" />
          <s:enumeration value="CadaverositasAndRigor" />
          <s:enumeration value="CadaverositasAndLivores" />
          <s:enumeration value="CadaverositasAndLivoresAndRigor" />
          <s:enumeration value="Maceratio" />
          <s:enumeration value="MaceratioAndRigor" />
          <s:enumeration value="MaceratioAndLivores" />
          <s:enumeration value="MaceratioAndLivoresAndRigor" />
          <s:enumeration value="MaceratioAndCadaverositas" />
          <s:enumeration value="MaceratioAndCadaverositasAndRigor" />
          <s:enumeration value="MaceratioAndCadaverositasAndLivores" />
          <s:enumeration value="MaceratioAndCadaverositasAndLivoresAndRigor" />
          <s:enumeration value="Other" />
          <s:enumeration value="OtherAndRigor" />
          <s:enumeration value="OtherAndLivores" />
          <s:enumeration value="OtherAndLivoresAndRigor" />
          <s:enumeration value="OtherAndCadaverositas" />
          <s:enumeration value="OtherAndCadaverositasAndRigor" />
          <s:enumeration value="OtherAndCadaverositasAndLivores" />
          <s:enumeration value="OtherAndCadaverositasAndLivoresAndRigor" />
          <s:enumeration value="OtherAndMaceratio" />
          <s:enumeration value="OtherAndMaceratioAndRigor" />
          <s:enumeration value="OtherAndMaceratioAndLivores" />
          <s:enumeration value="OtherAndMaceratioAndLivoresAndRigor" />
          <s:enumeration value="OtherAndMaceratioAndCadaverositas" />
          <s:enumeration value="OtherAndMaceratioAndCadaverositasAndRigor" />
          <s:enumeration value="OtherAndMaceratioAndCadaverositasAndLivores" />
          <s:enumeration value="OtherAndMaceratioAndCadaverositasAndLivoresAndRigor" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImplantsType">
        <s:restriction base="s:string">
          <s:enumeration value="YesAndRemoved" />
          <s:enumeration value="YesAndNotRemoved" />
          <s:enumeration value="No" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AlternativeDoctorType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s3:PersonNameStructure" />
          <s:element minOccurs="0" maxOccurs="1" name="DoctorAddress" type="s5:AddressPostalType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part2Type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="WayOfDeath" type="s0:WayOfDeathType" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryCauseOfDeath" type="s0:ArrayOfCauseOfDeathType" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryCauseOfDeath" type="s0:ArrayOfCauseOfDeathType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductnameATCCode" type="s0:ATCElementType" />
          <s:element minOccurs="0" maxOccurs="1" name="DeathNonNatural" type="s0:DeathNonNaturalType" />
          <s:element minOccurs="0" maxOccurs="1" name="Autopsy" type="s0:AutopsyType" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplementalText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Acme" type="s0:AcmeType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WayOfDeathType">
        <s:restriction base="s:string">
          <s:enumeration value="natural" />
          <s:enumeration value="accident" />
          <s:enumeration value="kill" />
          <s:enumeration value="suicide" />
          <s:enumeration value="unknown" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCauseOfDeathType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CauseOfDeath" type="s0:CauseOfDeathType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CauseOfDeathType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CauseOfDeath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DurationBeforeDeath" type="s:duration" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:unsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ATCElementType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ATCText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATCCode" type="s:NMTOKEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeathNonNaturalType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PlaceOfEvent" type="s0:PlaceOfEventType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PlaceOfEventType">
        <s:restriction base="s:string">
          <s:enumeration value="tranportationarea" />
          <s:enumeration value="livingarea" />
          <s:enumeration value="productionarea" />
          <s:enumeration value="shoppingarea" />
          <s:enumeration value="educationarea" />
          <s:enumeration value="sportsarea" />
          <s:enumeration value="Amusementandparkarea" />
          <s:enumeration value="OpenNature" />
          <s:enumeration value="SeaOrLake" />
          <s:enumeration value="Otherplace" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AutopsyType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="JudicialAutopsy" type="s0:JudicialAutopsyType" />
            <s:element minOccurs="0" maxOccurs="1" name="HospitalAutopsy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NoAutopsyTextReason" type="s0:NoAutopsyTextReasonType" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="JudicialAutopsyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AutopsyFindings" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvestmentsConclusions" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="NoAutopsyTextReasonType">
        <s:restriction base="s:string">
          <s:enumeration value="ProhibitedAutopsy" />
          <s:enumeration value="NoAutopsy" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AcmeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ICD10Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lookup" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="MortalityAnswer" type="s:string" />
      <s:element name="SchemaID" type="s:string" />
      <s:element name="DeleteResult" type="s:boolean" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/">
      <s:element name="PersonGenderCode" type="s1:PersonGenderCodeType" />
      <s:simpleType name="PersonGenderCodeType">
        <s:restriction base="s:string">
          <s:enumeration value="male" />
          <s:enumeration value="female" />
          <s:enumeration value="unspecified" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/2007/01/02/">
      <s:element name="PersonCivilRegistrationReplacementIdentifier" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:element name="PersonNameStructure" type="s3:PersonNameStructureType" />
      <s:complexType name="PersonNameStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s4:PersonGivenName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:PersonMiddleName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:PersonSurnameName" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/">
      <s:element name="PersonGivenName" type="s:string" />
      <s:element name="PersonMiddleName" type="s:string" />
      <s:element name="PersonSurnameName" type="s:string" />
      <s:element name="MailDeliverySublocationIdentifier" type="s:string" />
      <s:element name="StreetBuildingIdentifier" type="s:string" />
      <s:element name="FloorIdentifier" type="s:string" />
      <s:element name="SuiteIdentifier" type="s:string" />
      <s:element name="CountryIdentificationCode" type="s4:CountryIdentificationCodeType" />
      <s:complexType name="CountryIdentificationCodeType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="scheme" type="s4:_CountryIdentificationSchemeType" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="_CountryIdentificationSchemeType">
        <s:restriction base="s:string">
          <s:enumeration value="iso3166-alpha2" />
          <s:enumeration value="iso3166-alpha3" />
          <s:enumeration value="un-numeric3" />
          <s:enumeration value="imk" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" />
      <s:element name="AddressPostal" type="s5:AddressPostalType" />
      <s:complexType name="AddressPostalType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s4:MailDeliverySublocationIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:StreetName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:StreetNameForAddressingName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:StreetBuildingIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:FloorIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:SuiteIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:DistrictSubdivisionIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s8:PostOfficeBoxIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:PostCodeIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:DistrictName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:CountryIdentificationCode" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/">
      <s:element name="StreetName" type="s:string" />
      <s:element name="DistrictSubdivisionIdentifier" type="s:string" />
      <s:element name="PostCodeIdentifier" type="s:string" />
      <s:element name="DistrictName" type="s:string" />
      <s:element name="BirthDate" type="s:date" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/">
      <s:element name="StreetNameForAddressingName" type="s:string" />
      <s:element name="PersonCivilRegistrationIdentifier" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/">
      <s:element name="PostOfficeBoxIdentifier" type="s:integer" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportSoapIn">
    <wsdl:part name="MortalityReason" element="s0:MortalityReason" />
  </wsdl:message>
  <wsdl:message name="ReportSoapOut">
    <wsdl:part name="ReportResult" element="s0:MortalityAnswer" />
  </wsdl:message>
  <wsdl:message name="RemoveReportSoapIn">
    <wsdl:part name="SchemaID" element="s0:SchemaID" />
  </wsdl:message>
  <wsdl:message name="RemoveReportSoapOut">
    <wsdl:part name="RemoveReportResult" element="s0:DeleteResult" />
  </wsdl:message>
  <wsdl:portType name="MortalityRegistrationServiceBinding">
    <wsdl:operation name="Report">
      <wsdl:input message="tns:ReportSoapIn" />
      <wsdl:output message="tns:ReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveReport">
      <wsdl:input message="tns:RemoveReportSoapIn" />
      <wsdl:output message="tns:RemoveReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MortalityRegistrationServiceBinding" type="tns:MortalityRegistrationServiceBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://rep.oio.dk/sst.dk/xml.wsdl/2008.10.10/#Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveReport">
      <soap:operation soapAction="http://rep.oio.dk/sst.dk/xml.wsdl/2008.10.10/#RemoveReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MortalityRegistrationServiceBinding1" type="tns:MortalityRegistrationServiceBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Report">
      <soap12:operation soapAction="http://rep.oio.dk/sst.dk/xml.wsdl/2008.10.10/#Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveReport">
      <soap12:operation soapAction="http://rep.oio.dk/sst.dk/xml.wsdl/2008.10.10/#RemoveReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MortalityRegistrationService">
    <wsdl:port name="MortalityRegistrationServiceBinding" binding="tns:MortalityRegistrationServiceBinding">
      <soap:address location="http://seifstest/DGWS/MortalityRegistrationService.asmx" />
    </wsdl:port>
    <wsdl:port name="MortalityRegistrationServiceBinding1" binding="tns:MortalityRegistrationServiceBinding1">
      <soap12:address location="http://seifstest/DGWS/MortalityRegistrationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>