DGWSUserAdministration/DGWSUserAdministration/Web References/UserAdministration/UserAdministration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sst.dk/SEI/xml.schema/2009.03.12" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sst.dk/SEI/xml.schema/2009.03.12" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sst.dk/SEI/xml.schema/2009.03.12">
      <s:element name="UserAuthorisation" type="tns:UserAuthorisationType" />
      <s:complexType name="UserAuthorisationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SEIUser">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="X509Certificate" type="s:base64Binary" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PersonCivilRegistrationIdentifier" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FullName" type="s:string" />
                <s:choice minOccurs="1" maxOccurs="1">
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Email" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ActivationCode" type="s:string" />
                </s:choice>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SEIPlugIn">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Plugin" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="UserAuthorisationResult" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthoriseUserSoapIn">
    <wsdl:part name="UserAuthorisation" element="tns:UserAuthorisation" />
  </wsdl:message>
  <wsdl:message name="AuthoriseUserSoapOut">
    <wsdl:part name="AuthoriseUserResult" element="tns:UserAuthorisationResult" />
  </wsdl:message>
  <wsdl:portType name="UserAdministration">
    <wsdl:operation name="AuthoriseUser">
      <wsdl:input message="tns:AuthoriseUserSoapIn" />
      <wsdl:output message="tns:AuthoriseUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAdministration" type="tns:UserAdministration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthoriseUser">
      <soap:operation soapAction="http://sst.dk/SEI/xml.schema/2009.03.12/AuthoriseUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserAdministration1" type="tns:UserAdministration">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthoriseUser">
      <soap12:operation soapAction="http://sst.dk/SEI/xml.schema/2009.03.12/AuthoriseUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAdministration">
    <wsdl:port name="UserAdministration" binding="tns:UserAdministration">
      <soap:address location="http://localhost:2245/UserAdministration.asmx" />
    </wsdl:port>
    <wsdl:port name="UserAdministration1" binding="tns:UserAdministration1">
      <soap12:address location="http://localhost:2245/UserAdministration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>